.icon-48-keys {
	background-image: url(../images/l_keys.png);
	padding-left:60px!important;
}

.icon-48-key {
	background-image: url(../images/l_keys.png);
	padding-left:60px!important;
}

.icon-48-logs {
	background-image: url(../images/l_logs.png);
	padding-left:60px!important;
}
